//colors
$pink: #FF6060;

// font
$font: 'Montserrat', sans-serif;
$medium: 500;
$bold: 700;
$size12: 12px;
$size18: 18px;
$size24: 24px;

.about {
  margin: 0 1rem 1rem 1rem;
  @media (min-width: 1440px) {
    margin: 0 12rem 3rem 12rem;
  }
}
