//colors
$pink: #FF6060;

// font
$font: 'Montserrat', sans-serif;
$medium: 500;
$bold: 700;
$size12: 12px;
$size18: 18px;
$size24: 24px;

.about-page {
  margin: 0 1rem 1rem 1rem;
  @media (min-width: 1440px) {
    margin: 0 12rem 3rem 12rem;
  }
}

.about {
  height: 6rem;
  position: relative;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  background: url('../../img/img2.png') no-repeat center center;
  background-size: cover;
  @media (min-width: 1440px) {
    margin: 0 6rem 3rem 6rem;
    height: 12rem;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
  }

  &__title {
    position: absolute;
    top: 1.6rem;
    left: 1rem;
    width: 11rem;
    //transform: translate(-50%, -50%);
    color: white;
    font-weight: $bold;
    font-size: $size18;
    z-index: 2;
    @media (min-width: 1440px) {
      font-size: 48px;
      top: 4rem;
      left: 16rem;
      width: 100%;
    }
  }
}
