//colors
$pink: #FF6060;

// font
$font: 'Montserrat', sans-serif;
$medium: 500;
$bold: 700;
$size12: 12px;
$size18: 18px;
$size24: 24px;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__logo {
    margin: 1rem;
    width: 40%;
    height: auto;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    width: 9rem;
    &__menu {
      text-transform: uppercase;
      font-weight: $medium;
      font-size: $size12;
    }
  }
}