//colors
$pink: #FF6060;

// font
$font: 'Montserrat', sans-serif;
$medium: 500;
$bold: 700;
$size12: 12px;
$size18: 18px;
$size24: 24px;

.hero {
  //width: 100%;
  height: 6rem;
  position: relative;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  background: url('../../img/img1.png') no-repeat center center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 1;
  }

  &__title {
    position: absolute;
    top: 1.6rem;
    left: 1rem;
    //transform: translate(-50%, -50%);
    color: white;
    font-weight: $bold;
    font-size: $size18;
    z-index: 2;
  }
}
