//colors
$pink: #FF6060;
$grey: #E3E3E3;

// font
$font: 'Montserrat', sans-serif;
$medium: 500;
$bold: 700;
$size12: 12px;
$size18: 18px;
$size24: 24px;

@media (min-width: 1440px) {

}

.rental {
  margin: 1rem;
  @media (min-width: 1440px) {
    margin: 6rem 6rem 0 6rem;
  }
  &__box {
    position: relative;
    height: 15rem;
    display: flex;
    align-items: center;
    @media (min-width: 1440px) {
      margin-bottom: 7rem;
    }
    &__img {
      object-fit: cover;
      width: 100%;
      height: auto;
      border-radius: 10px;
      @media (min-width: 1440px) {
        height: 25rem;
        border-radius: 25px;
      }
    }
    .arrow {
      color: white;
      width: 1.5rem;
      height: auto;
    }
    .left {
      position: absolute;
      left: 0;
      top: 45%;
    }
    .right {
      position: absolute;
      right: 0;
      top: 45%;
    }
    .image-counter {
      position: absolute;
      left: 48%;
      bottom: 1rem;
      color: white;
      font-size: $size12;
      @media (min-width: 1440px) {
        bottom: -4rem;
      }
    }
  }
  &__title {
    color: $pink;
    font-size: $size18;
    font-weight: $medium;
    margin-top: 0.5rem;
    line-height: 1.8rem;
    @media (min-width: 1440px) {
      font-size: 36px;
    }
  }
  &__text {
    color: black;
    font-size: 14px;
    font-weight: $medium;
    margin-top: 0.6rem;
    @media (min-width: 1440px) {
      font-size: $size18;
      margin-top: 0.9rem;
    }
  }
  &__boxtag{
    margin: 0.7rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    @media (min-width: 1440px) {

    }
    &__tags {
      color: white;
      font-size: 10px;
      font-weight: $medium;
      background-color: $pink;
      width: 6.5rem;
      height: 1.5rem;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 1440px) {
        font-size: 14px;
        font-weight: $medium;
        width: 9rem;
        height: 1.5rem;
        border-radius: 10px;
      }
    }
  }
  &__star {
    &__full {
      width: 1rem;
      height: auto;
      align-self: center;
      margin-right: 0.2rem;
      @media (min-width: 1440px) {
        margin-right: 0.5rem;
      }
    }
    &__empty {
      width: 1rem;
      height: auto;
      align-self: center;
      @media (min-width: 1440px) {

      }
    }
  }
  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    @media (min-width: 1440px) {
      margin-top: -7.7rem;
      flex-direction: column-reverse;
      justify-content: right;
      align-items: end;
    }
    &__rating {
      @media (min-width: 1440px) {
        margin-top: 2rem;
      }
    }
    &__owner {
      display: flex;
      justify-content: right;
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;
      &__name {
        width: 3rem;
        text-align: right;
        font-size: $size12;
        font-weight: $medium;
        color: $pink;
        @media (min-width: 1440px) {
          font-size: $size18;
          width: 6rem;
        }
      }
      &__box {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        @media (min-width: 1440px) {
          width: 3rem;
          height: 3rem;
        }
        &__picture {
        }
      }
    }
  }
}