//colors
$pink: #FF6060;

// font
$font: 'Montserrat', sans-serif;
$medium: 500;
$bold: 700;
$size12: 12px;
$size18: 18px;
$size24: 24px;

.footer {
  margin-top: 2rem;
  background-color: black;
  width: 100%;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    @media (min-width: 1440px) {
      width: 10%;
      margin-bottom: 2rem;
    }
  }
  &__text {
    margin-top: 1rem;
    color: white;
    font-weight: $medium;
    font-size: $size12;
    width: 8rem;
    text-align: center;
    @media (min-width: 1440px) {
      width: 100%;
      font-size: $size24;
    }
  }
}