//colors
$pink: #FF6060;

// font
$font: 'Montserrat', sans-serif;
$medium: 500;
$bold: 700;
$size12: 12px;
$size18: 18px;
$size24: 24px;

.hero {
  height: 6rem;
  position: relative;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  @media (min-width: 1440px) {
    margin: 0 6rem 3rem 6rem;
    height: 14rem;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 6rem;
    @media (min-width: 1440px) {
      height: 14rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 1;
  }

  &__title {
    position: absolute;
    top: 1.6rem;
    left: 1rem;
    width: 11rem;
    color: white;
    font-weight: $bold;
    font-size: $size18;
    z-index: 2;
    @media (min-width: 1440px) {
      font-size: 48px;
      top: 5rem;
      left: 16rem;
      width: 100%;
    }
  }
}
